name: Protect main from bad PR

on:
  pull_request:

jobs:
  enforce-source-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Enforce dev to main rule
        run: |
          BASE="${{ github.event.pull_request.base.ref }}"
          HEAD="${{ github.event.pull_request.head.ref }}"

          echo "Base branch: $BASE"
          echo "Head branch: $HEAD"

          if [ "$BASE" != "main" ]; then
            echo "PR does not target main. Rule not applicable."
            exit 0
          fi

          if [ "$HEAD" != "dev" ]; then
            echo "Pull requests to main must come from dev."
            exit 1
          fi

          echo "Valid PR: dev to main"
